.day, .done-label {
    border-radius: 5px;
    padding: 3px;
    background-color: lightgray;
    color: black;
    margin: 3px;
}
.day.doitnow, .done-label.notdone {
    background-color: red;
    color: white;
}
.done-label.done {
    background-color: green;
    color: white;
}
.danger {
    background-color: red;
}
